<div class="album">
  <h3 class="album-name">{{model.name}} by {{model.artist.name}}</h3>

  <ul>
    <li>Name: {{model.name}}</li>
    <li>Year: {{model.year}}</li>
    <li>Sales: {{model.totalSold}}</li>
  </ul>


  <h4>Comments:</h4>
  {{comment-list model=model.comments}}
  
  {{outlet}}
</div>
